{% extends 'store/layout/main.html' %}
{% load static %}

{% block content %}


<html>
<head>
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <style>
         body{
            background: url("static/picView/pic 3.jpg") no-repeat fixed;
            background-size: cover;
        }

    </style>
</head>
<body>
<h1  style="color:#fff; margin-top:250px;">Happy Coding</h1>
<h1 style="color:#000">Happy Coding</h1>
<h1 style="color:red">Happy Coding</h1>
</body>
</html>

{% endblock content %}